<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Finance App </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="static/css/main.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row mt-3">
            <div class="col-4"></div>
            <div class="col-4"></div>
            <div class="col-4 text-center">
                <!--Button-->
                <button class="btn bordered-btn">Logout</button>
            </div>
        </div>
    </div>
    
    <div class="container-full"></div>
    <div class="footer">
        <p>Created by Code 200</p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>