<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Financier - Forgot Password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="static/css/main.css" rel="stylesheet">
</head>
<body>
    <div class="container container-full">
        <div class="row mt-5">
            <div class="d-none d-md-block col-md-7">
                <!--Image-->
                    <p class="header-text">One step away from saving for your goals.</p>
                    <p class="below-header-text">Save Smart.</p>
                <img src="/static/img/forgotpass.png" height="373px" width="500px" class="img-fluid image ml-auto mr-auto">
            </div>
            <div class="col-12 col-md-1"></div>
            <div class="col-12 col-md-4">
                <!--Login-->
                <div class="row mt-5 form text-center">
                    <p class="header-text mt-5" style="text-align: center;">Forgot Password</p>
                    <p class="below-header-text" style="font-size: 1em;">Enter your email to receive the reset password link.</p>
                    <form class="mt-5" action="/forgotpass" method="post">
                        <div class="form-group">
                            <input type="email" name="email" class="new-input" placeholder="Email" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" value="signup" class="btn dark-btn">Reset Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>Created by Code 200</p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>