<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/main.css" rel="stylesheet">


	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Set your Goals</title>
</head>
<body>
<div class="container container-full">

        <div class="row mt-3">
            <div class="col-4"></div>
            <div class="col-4"></div>
            <div class="col-4 text-center">
                <!--Button-->
                <button class="btn bordered-btn">Logout</button>
        	</div>
        </div>

		

<div id="card">
		<div class="row text-center">
			<div class="col-md-4 col-xs-12 text-center">
				<div class="flip-card text-center">
				  <div class="flip-card-inner">
					<div class="flip-card-front">
					  <img src="/static/icon/gold.png">
					</div>
					<div class="flip-card-back text-center">
					  <p class="card-heading">GOLD<p>
					  <p class="card-subtext">gdaafsg
					  sdffasvs</p>
					</div>
				  </div>
				</div>
			</div>

			<div class="col-md-4 col-xs-12 text-center">
			<div class="flip-card text-center">
			  <div class="flip-card-inner">
				<div class="flip-card-front">
				  <img src="/static/icon/medical.png">
				</div>
				<div class="flip-card-back text-center">
				  <p class="card-heading">MEDICAL<p>
					  <p class="card-subtext">gdaafsg
					  sdffasvs</p>
				</div>
			  </div>
			</div>
			</div>
			<div class="col-md-4 col-xs-12 text-center">
			<div class="flip-card">
			  <div class="flip-card-inner">
				<div class="flip-card-front">
				  <img class="other" src="/static/icon/others.png">
				</div>
				<div class="flip-card-back text-center">
				  <p class="card-heading">OTHERS<p>
					  <p class="card-subtext">gdaafsg<br>
					  sdffasvs</p>
				</div>
			  </div>
			</div>
			</div>
		</div>
	
	</div>
	<!--<div class="container" style="margin: 5%;">
		<div class="row text-center">
			<div class="col-xl-4 col-lg-4 col-md-auto col-sm-12 col-xs-12">
				<div class="card">
					<img src="/static/icon/gold.png">
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-auto col-sm-12 col-xs-12">
				<div class="card">
					<img src="/static/icon/medical.png">
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-auto col-sm-12 col-xs-12">
				<div class="card">
					<img src="/static/icon/others.png">
				</div>
			</div>
		</div>
	</div>
-->
</div>
	    <div class="footer text-center">
	        <p>Created by Code 200</p>
	    </div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>