<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="static/css/style.css">

	<link rel="stylesheet" type="text/css" href="static/css/main2.css">
	
	<title>Track one Goal</title>
</head>
<body>
<div class="container container-full">
	<div class="row">
		<p class="header-text">Goal Detail</p>
	</div>
	<div class="row">
		<div class="col-md-6 col-xs-12 text-center">
			Gold
		</div>
		<div class="col-md-6 col-xs-12">
			<div class="row goal-status-text">
				<p>You're on Track!</p>
			</div>
			<div class="row goal-text">
				Name: Sister's Marriage<br>
				Goal Amount: Rs. 10000<br>
				Number of Months: 20<br>
				Amount Saved: Rs. 20000<br>
			</div>
		</div>
	</div>

	<div class="row" style="margin-left: auto; margin-right: auto; display: block;">
		<p class="header-text">Amount for this month: Rs. 5000</p> 
	</div>
</div>
   <div class="footer">
        <p>Created by Code 200</p>
	</div>

</body>
</html>